body {
  background-image: url(../images/kameHouseBG.jpg);
  background-size: 100%;
}

#title {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow: black 2px 2px;
}

#dragonball {
  max-width: 100%;
  height: auto;
}

#main {
  opacity: 0.9;
}

#picture {
    width: 100%;
    opacity: 1;
}